<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Reactive Spring Boot</h5>
        <h6 class="card-subtitle mb-2 text-muted">Zagoret Sergiu</h6>
        <hr class="my-4">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Owner</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="images" type="java.util.List<com.szagoret.springboot2.images.Image>"*/-->
            <tr th:each="image : ${images}">

                <td>
                    <div class="card">
                        <div th:class="row">
                            <div th:class="col-4">
                                <img th:src="@{'images/'+ ${image.name}+'/raw'}" th:class="img-fluid">
                            </div>
                            <div th:class="col-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div th:class="col">
                                            <h5 th:class="card-title" th:text="${image.name}">Card Title</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9">
                                            <textarea class="form-control mr-sm-2" th:id="'comment-' + ${image.id}"
                                                      name="comment"
                                                      rows="2"></textarea>
                                            <input name="imageId" th:value="${image.id}" type="hidden"/>
                                        </div>
                                        <div th:class="col-3">
                                            <button th:id="${image.id}" type="button"
                                                    class="btn btn-outline-secondary comment"
                                                    title="Send comment">
                                                <i class="fab fa-telegram-plane  ml-2 mr-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div th:class="col">
                                            <button class="btn btn-outline-primary btn-block" data-toggle="collapse"
                                                    th:href="'#comments-' + ${image.id}"
                                                    role="button" aria-expanded="false">
                                                Comments
                                                <i class="fas fa-th-list ml-2"></i>
                                            </button>
                                            <ul th:id="'comments-' + ${image.id}" class="collapse">
                                                <li th:each="comment : ${image.comments}">
                                                    <span th:text="${comment.comment}">Lorem ipsum dolor sit amet.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </td>
                <td class="align-middle" th:text="${image.owner}"/>
                <td class="align-middle">
                    <button type="button" class="btn btn-danger delete" title="Delete image"
                            th:id="'/images/' + ${image.name}">
                        <i class="far fa-trash-alt ml-1 mr-1"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <form method="post" enctype="multipart/form-data"
              action="/images">
            <p><input type="file" name="file"/></p>
            <p><input type="submit" class="btn btn-info" value="Upload"/></p>
        </form>
        <div id="chatBox" style="display: none;">
            Greetings!
            <br/>
            <textarea id="chatDisplay" rows="10" cols="80" disabled="true"></textarea>
            <br/>
            <input id="chatInput" type="text" style="width: 500px" value=""/>
            <br/>
            <button id="chatButton">Send</button>
            <br/>
        </div>
    </div>
</div>